<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <img src="<%= holiday.image%>" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title"> <%= `Holiday to ${holiday.destination}`%></h5>
                  <p class="card-text"><%=  `This ${holiday.duration} day trip costs $${holiday.accommodation_cost + holiday.transportation_cost}`%><p>.
                  <a class= "card-link btn btn-warning" href="/holidays/<%=holiday._id%>/edit"> Edit Holiday</a>
                <form class="d-inline" action="/holidays/<%= holiday._id %>?_method=DELETE" method="POST">
                <button class ="btn btn-danger" > Delete Holiday</button>
                </form>
                </div>
              </div>
            <div> 
        </div>
    </div>

