<% layout('layouts/boilerplate') %>
    <title>Holiday Details</title>
    
</head>
<body>
    <div> 
    <h1> Sucess Stories</h1>
    <p> <%= `${holiday.traveler_name} travelled to ${holiday.destination}`%><p>
    <img src="<%= holiday.image%>">
    <p><%=`Total cost of holiday: $${holiday.accommodation_cost + holiday.transportation_cost}` %></p>
</div>
    <a href="/holidays/<%=holiday._id%>/edit"> Edit Holiday</a>
   <form action="/holidays/<%= holiday._id %>?_method=DELETE" method="POST">
    <button> Delete Holiday</button>
   </form>
   <footer> 
   <a href="/holidays"> All Holidays</a>
</footer> 
